<%= content_for :breadcrumb do%>

	<%= link_to 'Timetable', :controller=> :timetable %> &raquo; Schedules

<% end %>


	<div class="container_12">
		<div class="grid_1">
			<%= image_tag "menu_icons/timetable.png" %>
		</div>
		<div class="grid_9">
			<h1>Timetable</h1>
		</div>
		<%= render :partial => 'shared/back_button' %>	
	</div>

	<div class="clearfix">&nbsp;</div>

	<div class="container_12">

		<% unless flash[:notice].nil? %>
		<%= render "shared/highlighted_messages", :msg=> flash[:notice]%>
		<% end %>


		<% unless flash[:warn_notice].nil? %>
		<div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %> </p></div>
		<% end %>

		<div class="grid_3" id="menu_small">
			<h2>Options:</h2>
			<ul>
				<li>
					<%= link_to 'New', new_schedule_path %> 
				</li>
			</ul>



		</div>

		<div class="grid_9">
			<h2 class="center">Schedules</h2>
			<table class="medium">
				<thead>
				</thead>
				<tbody>
					<% @schedules.each do |s| %>
					<tr>
						<td>
							<%= link_to s.name, s %>
						</td>
						<td>
							<%= link_to 'Edit', edit_schedule_path(s) if permitted_to? :edit, s %>
						</td>
						<td>
							<%= link_to('Delete', s, :method => :delete, :confirm => 'Are you sure?') if permitted_to? :destroy, s %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

