<%= content_for :breadcrumb do%>
<%= link_to 'Timetable', :controller=>"home", :action=> "timetable" %> &raquo; <%= link_to  "Evaluation Structures", evaluation_structures_path %> &raquo; <%= @evaluation_structure.name%>
<% end %>

<div class="container_12">
	<div class="grid_1">
		<%= image_tag "menu_icons/timetable.png" %>
	</div>
	<div class="grid_9">
		<h1><%= @evaluation_structure.name%></h1>
	</div>
	<%= render :partial => 'shared/back_button' %>	
</div>

<div class="clearfix">&nbsp;</div>

<div class="container_12">
	<% unless flash[:notice].nil? %>
	<p  class="flash-msg"> <%= flash[:notice] %> </p>
	<% end %>
	<div id="msg"></div>
	<div id="errors"></div>

</div>

<div class="grid_3" id="menu_small">
	<h2>Options:</h2>
	<ul>
		<li><%= link_to 'Add Period', nil, :class => "shower" %></li>
	</ul>
</div>

<div class="grid_9">
	<h2>Periods</h2>

	<table id="periods-list" class="medium">
		<thead>
			<tr>							
				<th>Name</th>
				<th>Edit / Delete</th>			
			</tr>
		</thead>
		<tbody id="periods-list-body">
	
		<%= render @periods %>

		</tbody>
	</table>

</div>
</div>

<div id="modal-box">	
<%= render "periods/new" %>
</div>


<div id="modal-box-edit">	

</div>




<% content_for :head do%>
<script type="text/javascript">
$(function() {
	$("#modal-box").modalBox("New Period", "►Save Period");
	$("#modal-box-edit").modalBox("Edit Period", "►Save Period");
	$(".shower").click(function (){
		$("#modal-box").dialog("open");
		return false;
	});
});
</script>
<%end%>