<% content_for :head do %>
<script type="text/javascript" charset="utf-8">
$(function() {
	$("#tabs").tabs();
});
</script>
<%end%>

<%= content_for :breadcrumb do%>
 <%= link_to t("courses.courses_title"), courses_path %> &raquo; <%= link_to @course.full_name, @course %> &raquo; <%= @batch.school_year.name %>
<% end %>

<div class="container_12">
	<div class="grid_1">
		<%= image_tag "menu_icons/courses.png" %>
	</div>
	<div class="grid_9">
		<h1><%= @batch.full_name %></h1>
	</div>
	<%= render :partial => 'shared/back_button' %>
</div>

<div class="clearfix">&nbsp;</div>


<div class="container_12">
	<% unless flash[:notice].nil? %>
	<p class="flash-msg"> <%= flash[:notice] %> </p>
	<% end %>

	<% unless flash[:warn_notice].nil? %>
	<div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
	<% end %>

	<div class="grid_3" id="menu_small">
		<h2><%= t"general.options"%>:</h2>
		<ul>
			<%= render 'batches/batch_options' %>
			<li><%= link_to "Pasar de Grado", batch_transfer_batch_path(@batch) %></li>
			<li><%= link_to "Generar Boleta", {:controller=>"reports", :action=> "new_batch_report", :id=> @batch.id} %></li>
			<li><%= link_to "Enviar Comunicacion", new_email_path(:batch_id=> @batch.id) %></li>
		</ul>
	</div>


</div>
<div class="grid_9">
	<div id="tabs">

		<ul>
			<li><a href="#tabs-1"><%= t"students.students"%></a></li>
			<li><a href="#tabs-2">Evaluaciones</a></li>
			<li><a href="#tabs-3"><%= t("batches.subjects")%></a></li>
		</ul>
		<div id="tabs-1">

			<h2><%= t"students.students"%></h2>
			<table class="regular">	
				<thead>
					<tr>
						<th>Sl.no</th>
						<th><%= t"general.name"%></th>
						<th><%= t"students.unique_id"%></th>
					</tr>
				</thead>
				<tbody>
					<% @slno = 0 %>
					<% @students.each do |student| %>
					<% @slno= @slno + 1 %>
					<tr class="tr-<%= cycle('odd', 'even')%>">
						<td class="col-1"><%=  @slno %></td>
						<td class="col-2"><%= link_to student.full_name, student %></td>
						<td class="col-3"><%= student.unique_id %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div id="tabs-2">
			<h2>Evaluaciones</h2>
			<table class="regular">	
				<thead>
					<tr>
						<th><%= t("batches.subject")%></th>
						<th><%= t"general.name"%></th>
						<th>Lapso</th>					
						<th>Porcentaje</th>
						<th>Edit / Delete</th>
					</tr>
				</thead>
				<tbody>
					<% @batch.evaluations.each do |evaluation| %>
					<tr class="tr-<%= cycle('odd', 'even')%>">
						<td><%=link_to evaluation.batch_subject.subject.name, batch_batch_subject_path(@batch, evaluation.batch_subject) %></td>
						<td><%= link_to evaluation.name, [evaluation.batch_subject, evaluation] %></td>
						<td><%=evaluation.period.name%></td>
						<td><%=evaluation.percentage%>%</td>					
						<td>
							<%= link_to 'Edit', edit_batch_subject_evaluation_path(evaluation.batch_subject, evaluation)%> |
							<%= link_to('Delete', [evaluation.batch_subject, evaluation], :method => :delete, :confirm => 'Are you sure?') %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>

			<div class="clearfix">&nbsp;</div>
		</div>
		<div id="tabs-3">
			<h2><%= t("batches.subjects")%></h2>
			<table class="regular">	
				<thead>
					<tr>
						<th><%= t"general.name"%></th>
						<th>Porcentaje Evaluado</th>
					</tr>
				</thead>
				<tbody>
					<% @slno = 0 %>
					<% @batch.batch_subjects.each do |batch_subject| %>
					<tr class="tr-<%= cycle('odd', 'even')%>">
						<td class="col-2"><%= link_to batch_subject.subject.name, batch_batch_subject_path(@batch, batch_subject) %></td>
						<td> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<div class="clearfix">&nbsp;</div>
		</div>

	</div>

