<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid_6">
    <p><%= f.label :subject %></p>
    <p><%= f.text_field :subject, :class=>"text" %></p>
  </div>
<div class="grid_6">
	<p><label>Destinatarios</label></p>
	<p><%= f.check_box :guardians %>
    <%= f.label :guardians %>

    <%= f.check_box :students %>
    <%= f.label :students %>

    <%= f.check_box :employees %>
    <%= f.label :employees %></p>
  </div>
  <div class="grid_12">
   <p> <%= f.label :content %></p>
 <%= f.text_area :content %>
  </div>
  
	<div class="field">
		<%= hidden_field_tag "email[batch_ids][]", @batch_id%>
  </div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
  <div class="grid_6">
    <%= f.submit "Send Email", :class=> "submit" %>
  </div>
<% end %>
