<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report_template.name %>
</p>

<p>
  <b>File name:</b>
  <%= @report_template.file_name %>
</p>

<p>
  <b>Image:</b>
  <%= @report_template.image %>
</p>


<%= link_to 'Edit', edit_report_template_path(@report_template) %> |
<%= link_to 'Back', report_templates_path %>
